/* font paths are relative to build directory */

/* roboto-flex-variable */
@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
    src: local(''),
    url('../fonts/RobotoFlex-VariableFont.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/RobotoFlex-VariableFont.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* --------------------------
   Variables
   -------------------------- */

:root {
    /* Spacing */
    --spacing-sm:   4px;
    --spacing-md:   8px;
    --spacing-lg:   16px;
    --spacing-xl:   24px;
    --spacing-xxl:  32px;
    --spacing-xxxl: 48px;

    /* Sizes */
    --size-header-height:    40px;
    --size-sidebar-width:    165px;
    --size-webplayer-height: 100px;
    --size-queue-width:      320px;
    --size-seekbar-height:   5px;

    /* Breakpoints */
    --breakpoint-mi:  480px;
    --breakpoint-sm:  640px;
    --breakpoint-md:  768px;
    --breakpoint-lg:  1024px;
    --breakpoint-xl:  1280px;
    --breakpoint-xxl: 1536px;

    /* Fonts */
    --font-body: 'Roboto Flex', system-ui, Helvetica, Arial, sans-serif;
    --font-heading: 'Roboto Flex', system-ui, Helvetica, Arial, sans-serif;
    --roboto-grad: 0;
    --roboto-opsz: 13;

    /* Shadows */
    --shadow-inner: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    --shadow-sm:  rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --shadow-md:  rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,   rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --shadow-lg:  rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --shadow-xl:  rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --shadow-xxl: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* --------------------------
   General style rules
   -------------------------- */

* {
    box-sizing: border-box;
    font-variation-settings: "GRAD" var(--roboto-grad), "opsz" var(--roboto-opsz);
}

html,
body {
    position: relative;
    overflow: hidden;
}

html {
    font-family: var(--font-body);
    font-size: 13px;
    line-height: 1.4;
    height: 100%;
    background-color: var(--color-background);
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    fill: currentColor;
}

a {
    outline: 0;
}

a:link,
a:visited {
    color: var(--color-text-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: var(--font-heading);
    font-weight: unset;
    color: var(--color-text-heading);
}

ul {
    list-style: none;
    padding: 0;
}

/* W3C spec */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-highlight) var(--color-border);
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-border);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-highlight);
}

::selection {
    background: var(--color-text-primary);
    color: var(--color-background);
}

/* --------------------------
   Form / inputs
   -------------------------- */

::placeholder {
    color: var(--color-text-primary);
    opacity: 0.7;
}

input,
select {
    outline: none;
    background-color: unset;
    color: var(--color-text-primary);
    border: 1.5px solid var(--color-input-border);
}

input {
    appearance: none;
    margin: 0;
    max-width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: var(--color-highlight);
    cursor: pointer;
    border: 1.5px solid var(--color-input-border);
}

input:not([type="radio"]),
select {
    border-radius: 5px;
}

/* menu background */
select:focus {
    background-color: var(--color-background);
}

input:not([type="radio"]):not([type="checkbox"]),
select {
    padding: 0.5em;
}

input[type="checkbox"]:not(.switch):before {
    content: "✔";
    position: absolute;
    font-size: 1.5em;
    right: 0;
    top: -0.2em;
    visibility: hidden;
}

input[type="radio"]:checked {
    background-color: var(--color-highlight);
}

input[type="checkbox"]:checked:before {
    visibility: visible;
}

input[type="checkbox"].switch {
    position: relative;
    border-radius: 99px;
    width: 36px;
}

input[type="checkbox"].switch:after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-highlight);
    position: absolute;
    left: 1px;
    top: 1px;
}

input[type="checkbox"].switch:checked:after {
    background-color: var(--color-background);
    transform: translateX(100%);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-background);
    font-size: 1.2em;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    position: relative;
    visibility: hidden;
}

input[type="radio"]:checked::before {
    visibility: visible;
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
    box-shadow: 0 0 0 2px var(--color-highlight);
    border-color: var(--color-background);
}

/* --------------------------
   Buttons / badges
   -------------------------- */

::-moz-focus-inner {
    outline: 0;
}

/* base button */
button {
    background: unset;
    border: 2px solid transparent;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    padding: unset;
    position: relative;
    border-radius: 100vh;
    align-items: center;
    outline: 0;
    text-align: left;
    font-weight: inherit;
}

button svg {
    max-height: 100%;
    width: 24px;
    height: 24px;
}

/* plain buttons */
.button {
    color: var(--color-regular-foreground);
    padding: 0.5em 1em;
    margin-right: var(--spacing-sm);
}

.button:not(:disabled):hover,
.icon-button:not(:disabled):hover {
    background-color: var(--color-regular-background);
    color: var(--color-regular-foreground-hover);
}

.button--regular {
    border-color: var(--color-regular-background);
}

.button--danger {
    color: var(--color-danger-foreground);
    border-color: var(--color-danger-background);
}

.button--danger:not(:disabled):hover {
    background-color: var(--color-danger-background);
    color: var(--color-danger-foreground-hover);
}

.button--warning {
    color: var(--color-warning-foreground);
    border-color: var(--color-warning-background);
}

.button--warning:not(:disabled):hover {
    background-color: var(--color-warning-background);
    color: var(--color-warning-foreground-hover);
}

.button--primary {
    color: var(--color-primary-foreground);
    border-color: var(--color-primary-background);
}

.button--primary:not(:disabled):hover {
    background-color: var(--color-primary-background);
    color: var(--color-primary-foreground-hover);
}

.button--secondary {
    color: var(--color-secondary-foreground);
    border-color: var(--color-secondary-background);
}

.button--secondary:not(:disabled):hover {
    background-color: var(--color-secondary-background);
    color: var(--color-secondary-foreground-hover);
}

.button--tertiary {
    padding: 0;
}

.button--tertiary:not(:disabled):hover {
    background-color: transparent;
    color: inherit;
}

/* buttons with leading icon */
.button svg {
    margin-left: -0.25em;
    margin-right: var(--spacing-sm);
    margin-top: -1em;
    margin-bottom: -1em;
}

/* icon-only buttons */
.icon-button {
    border-width: 2px;
    border-style: solid;
    padding: var(--spacing-sm);
}

/* mini buttons */
.button--mini {
    padding: 0;
}

button.loading {
    pointer-events: none;
}

button.loading:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

button.active {
    background-color: var(--color-active-background);
}

/* display button as a plain text link */
button.visuallyLink {
    background-color: transparent;
    padding: 0;
    font-weight: normal;
}

button.visuallyLink:hover,
button.visuallyLink:active {
    background-color: transparent;
}

button svg {
    pointer-events: none;
}

/* badges */
.badge {
    display: inline-flex;
    border-radius: 2px;
    padding: 0.2em 0.4em;
}

.badge--success {
    background-color: var(--color-primary-background);
    color: var(--color-primary-foreground-hover);
}

.badge--info {
    background-color: var(--color-secondary-background);
    color: var(--color-secondary-foreground-hover);
}

.badge--warning {
    background-color: var(--color-warning-background);
    color: var(--color-warning-foreground-hover);
}

.badge--danger {
    background-color: var(--color-danger-background);
    color: var(--color-danger-foreground-hover);
}

/* --------------------------
   SVG
   -------------------------- */

svg.inline {
    height: 1em;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 0.12em;
    color: var(--color-icon);
}

/* --------------------------
   Shared
   -------------------------- */

.card:not(.album-card-expanded) {
    background-color: var(--color-card-primary);
    border-radius: 10px;
    box-shadow: var(--shadow-sm);
}

.card:not(.album-card-expanded):hover {
    box-shadow: var(--shadow-xl);
    background-color: var(--color-card-hover);
}

.card {
    font-stretch: 50%;
}

.card .title,
.card-title {
    --roboto-grad: 150;
    --roboto-opsz: 12;
    font-weight: 500;
    font-stretch: 25%;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.page-title {
    --roboto-opsz: 25;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 20px;
    margin-bottom: var(--spacing-xxl);
}

.page-title:after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--color-separator);
    padding-top: var(--spacing-sm);
}

.panel-title {
    --roboto-opsz: 30;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin-bottom: 0;
}

@media (min-resolution: 150dpi) {
    .page-title,
    .panel-title {
        font-weight: 330;
    }
}

.art-background {
    filter: contrast(80%) brightness(60%) saturate(120%) blur(20px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

section {
    margin-bottom: var(--spacing-xxl);
}

.menu-separator {
    display: block;
    border-bottom: 2px solid var(--color-menu-border);
    margin: var(--spacing-md) 0;
    width: 100%;
}

.notification-dot:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    background-color: var(--color-highlight);
    z-index: 5;
    border-radius: 99px;
}

.notification-badge {
    position: relative;
}

.notification-badge:after {
    content: attr(data-badge);
    position: absolute;
    bottom: calc(100% - 8px);
    left: calc(100% - 8px);
    background-color: var(--color-text-primary);
    z-index: 5;
    border-radius: 99px;
    font-size: 0.8em;
    font-weight: 700;
    padding: 1px 4px 2px;
    line-height: 1;
    color: var(--color-background);
    pointer-events: none;
}

/*
 * Panels & Modals
 */

.panel-header,
.panel-content,
.panel-footer {
    display: flex;
}

.panel-header,
.panel-footer {
    min-height: 48px;
    background-color: var(--color-interface);
    align-items: center;
    padding: var(--spacing-md) var(--spacing-lg);
    padding-right: var(--spacing-md);
}

.panel-content {
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-lg);
}

.panel-footer {
    justify-content: space-between;
}

.panel-actions {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 1;
    background-color: var(--color-interface);
    border-bottom: 1px solid var(--color-border);
    z-index: 100;
}

.panel-header + .panel-actions {
    border-top: 1px solid var(--color-border);
}

.panel-action {
    display: flex;
    justify-content: center;
    width: 0;
    flex: 1;
    border-radius: 0;
    border: 0;
    padding: 2px 0;
}

.panel-action:hover {
    background-color: var(--color-regular-background);
    color: var(--color-regular-foreground-hover);
}

.panel-action svg {
    height: 1em;
}

.panel-action + .panel-action {
    border-left: 1px solid var(--color-border);
}