@container custom-search-wrapper (min-width: 700px) {
    .rules.rules {
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: fit-content;
        gap: var(--spacing-md);
    }

    .row.row {
        display: contents;
    }
}