@import "material-symbols/outlined.css";

/* font paths are relative to build directory */

/* roboto-flex-variable */
@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
    src:
        local(""),
        url("/fonts/RobotoFlex-VariableFont.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("/fonts/RobotoFlex-VariableFont.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* --------------------------
   Variables
   -------------------------- */

:root {
    /* Spacing */
    --spacing-sm: 4px;
    --spacing-md: 8px;
    --spacing-lg: 16px;
    --spacing-xl: 24px;
    --spacing-xxl: 32px;
    --spacing-xxxl: 48px;

    /* Sizes */
    --size-sidebar-width: 165px;
    --size-queue-width: 330px;
    --size-seekbar-height: 5px;

    /* Breakpoints */
    --breakpoint-mi: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xxl: 1536px;

    /* Fonts */
    --font-body: "Roboto Flex", system-ui, Helvetica, Arial, sans-serif;
    --font-heading: "Roboto Flex", system-ui, Helvetica, Arial, sans-serif;
    --roboto-grad: 0;
    --roboto-opsz: 13;

    /* Base Colors - based on the Harmony color palette https://evilmartians.com/opensource/harmony */
    /*--hue-primary:   290;*/
    /*--hue-secondary: 220;*/
    --hue-green: 140;
    --hue-red: 20;
    --hue-blue: 240;
    --hue-yellow: 66;
    --hue-black: 275;

    --lightness-50: 98.83%;
    --lightness-100: 96.68%;
    --lightness-200: 92.19%;
    --lightness-300: 86.13%;
    --lightness-400: 80.08%;
    --lightness-500: 74.22%;
    --lightness-600: 62.7%;
    --lightness-700: 53.52%;
    --lightness-800: 41.99%;
    --lightness-900: 30.66%;
    --lightness-950: 19.34%;

    --chroma-50: 0.005;
    --chroma-100: 0.017;
    --chroma-200: 0.042;
    --chroma-300: 0.078;
    --chroma-400: 0.114;
    --chroma-500: 0.152;
    --chroma-600: 0.136;
    --chroma-700: 0.116;
    --chroma-800: 0.091;
    --chroma-900: 0.066;
    --chroma-950: 0.041;

    /* User accent 1 */
    --swatch-primary-50: oklch(
        var(--lightness-50) var(--chroma-50) var(--hue-primary)
    );
    --swatch-primary-100: oklch(
        var(--lightness-100) var(--chroma-100) var(--hue-primary)
    );
    --swatch-primary-200: oklch(
        var(--lightness-200) var(--chroma-200) var(--hue-primary)
    );
    --swatch-primary-300: oklch(
        var(--lightness-300) var(--chroma-300) var(--hue-primary)
    );
    --swatch-primary-400: oklch(
        var(--lightness-400) var(--chroma-400) var(--hue-primary)
    );
    --swatch-primary-500: oklch(
        var(--lightness-500) var(--chroma-500) var(--hue-primary)
    );
    --swatch-primary-600: oklch(
        var(--lightness-600) var(--chroma-600) var(--hue-primary)
    );
    --swatch-primary-700: oklch(
        var(--lightness-700) var(--chroma-700) var(--hue-primary)
    );
    --swatch-primary-800: oklch(
        var(--lightness-800) var(--chroma-800) var(--hue-primary)
    );
    --swatch-primary-900: oklch(
        var(--lightness-900) var(--chroma-900) var(--hue-primary)
    );
    --swatch-primary-950: oklch(
        var(--lightness-950) var(--chroma-950) var(--hue-primary)
    );

    /* User background */
    --swatch-secondary-50: oklch(
        var(--lightness-50) var(--chroma-override, var(--chroma-50))
            var(--hue-secondary)
    );
    --swatch-secondary-100: oklch(
        var(--lightness-100) var(--chroma-override, var(--chroma-100))
            var(--hue-secondary)
    );
    --swatch-secondary-200: oklch(
        var(--lightness-200) var(--chroma-override, var(--chroma-200))
            var(--hue-secondary)
    );
    --swatch-secondary-300: oklch(
        var(--lightness-300) var(--chroma-override, var(--chroma-300))
            var(--hue-secondary)
    );
    --swatch-secondary-400: oklch(
        var(--lightness-400) var(--chroma-override, var(--chroma-400))
            var(--hue-secondary)
    );
    --swatch-secondary-500: oklch(
        var(--lightness-500) var(--chroma-override, var(--chroma-500))
            var(--hue-secondary)
    );
    --swatch-secondary-600: oklch(
        var(--lightness-600) var(--chroma-override, var(--chroma-600))
            var(--hue-secondary)
    );
    --swatch-secondary-700: oklch(
        var(--lightness-700) var(--chroma-override, var(--chroma-700))
            var(--hue-secondary)
    );
    --swatch-secondary-800: oklch(
        var(--lightness-800) var(--chroma-override, var(--chroma-800))
            var(--hue-secondary)
    );
    --swatch-secondary-900: oklch(
        var(--lightness-900) var(--chroma-override, var(--chroma-900))
            var(--hue-secondary)
    );
    --swatch-secondary-950: oklch(
        var(--lightness-950) var(--chroma-override, var(--chroma-950))
            var(--hue-secondary)
    );

    /* User background */
    --swatch-background-50: oklch(
        var(--lightness-50) var(--chroma-override, var(--chroma-50))
            var(--user-hue-background)
    );
    --swatch-background-100: oklch(
        var(--lightness-100) var(--chroma-override, var(--chroma-100))
            var(--user-hue-background)
    );
    --swatch-background-200: oklch(
        var(--lightness-200) var(--chroma-override, var(--chroma-200))
            var(--user-hue-background)
    );
    --swatch-background-300: oklch(
        var(--lightness-300) var(--chroma-override, var(--chroma-300))
            var(--user-hue-background)
    );
    --swatch-background-400: oklch(
        var(--lightness-400) var(--chroma-override, var(--chroma-400))
            var(--user-hue-background)
    );
    --swatch-background-500: oklch(
        var(--lightness-500) var(--chroma-override, var(--chroma-500))
            var(--user-hue-background)
    );
    --swatch-background-600: oklch(
        var(--lightness-600) var(--chroma-override, var(--chroma-600))
            var(--user-hue-background)
    );
    --swatch-background-700: oklch(
        var(--lightness-700) var(--chroma-override, var(--chroma-700))
            var(--user-hue-background)
    );
    --swatch-background-800: oklch(
        var(--lightness-800) var(--chroma-override, var(--chroma-800))
            var(--user-hue-background)
    );
    --swatch-background-900: oklch(
        var(--lightness-900) var(--chroma-override, var(--chroma-900))
            var(--user-hue-background)
    );
    --swatch-background-950: oklch(
        var(--lightness-950) var(--chroma-override, var(--chroma-950))
            var(--user-hue-background)
    );

    /* User accent 2 */
    --swatch-tertiary-50: oklch(
        var(--lightness-50) var(--chroma-50) var(--hue-tertiary)
    );
    --swatch-tertiary-100: oklch(
        var(--lightness-100) var(--chroma-100) var(--hue-tertiary)
    );
    --swatch-tertiary-200: oklch(
        var(--lightness-200) var(--chroma-200) var(--hue-tertiary)
    );
    --swatch-tertiary-300: oklch(
        var(--lightness-300) var(--chroma-300) var(--hue-tertiary)
    );
    --swatch-tertiary-400: oklch(
        var(--lightness-400) var(--chroma-400) var(--hue-tertiary)
    );
    --swatch-tertiary-500: oklch(
        var(--lightness-500) var(--chroma-500) var(--hue-tertiary)
    );
    --swatch-tertiary-600: oklch(
        var(--lightness-600) var(--chroma-600) var(--hue-tertiary)
    );
    --swatch-tertiary-700: oklch(
        var(--lightness-700) var(--chroma-700) var(--hue-tertiary)
    );
    --swatch-tertiary-800: oklch(
        var(--lightness-800) var(--chroma-800) var(--hue-tertiary)
    );
    --swatch-tertiary-900: oklch(
        var(--lightness-900) var(--chroma-900) var(--hue-tertiary)
    );
    --swatch-tertiary-950: oklch(
        var(--lightness-950) var(--chroma-950) var(--hue-tertiary)
    );

    /* max chroma 200 */
    --swatch-neutral-50: oklch(
        var(--lightness-50) var(--chroma-50) var(--hue-secondary)
    );
    --swatch-neutral-100: oklch(
        var(--lightness-100) var(--chroma-100) var(--hue-secondary)
    );
    --swatch-neutral-200: oklch(
        var(--lightness-200) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-300: oklch(
        var(--lightness-300) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-400: oklch(
        var(--lightness-400) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-500: oklch(
        var(--lightness-500) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-600: oklch(
        var(--lightness-600) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-700: oklch(
        var(--lightness-700) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-800: oklch(
        var(--lightness-800) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-900: oklch(
        var(--lightness-900) var(--chroma-200) var(--hue-secondary)
    );
    --swatch-neutral-950: oklch(
        var(--lightness-950) var(--chroma-200) var(--hue-secondary)
    );

    --swatch-green-50: oklch(
        var(--lightness-50) var(--chroma-50) var(--hue-green)
    );
    --swatch-green-100: oklch(
        var(--lightness-100) var(--chroma-100) var(--hue-green)
    );
    --swatch-green-200: oklch(
        var(--lightness-200) var(--chroma-200) var(--hue-green)
    );
    --swatch-green-300: oklch(
        var(--lightness-300) var(--chroma-300) var(--hue-green)
    );
    --swatch-green-400: oklch(
        var(--lightness-400) var(--chroma-400) var(--hue-green)
    );
    --swatch-green-500: oklch(
        var(--lightness-500) var(--chroma-500) var(--hue-green)
    );
    --swatch-green-600: oklch(
        var(--lightness-600) var(--chroma-600) var(--hue-green)
    );
    --swatch-green-700: oklch(
        var(--lightness-700) var(--chroma-700) var(--hue-green)
    );
    --swatch-green-800: oklch(
        var(--lightness-800) var(--chroma-800) var(--hue-green)
    );
    --swatch-green-900: oklch(
        var(--lightness-900) var(--chroma-900) var(--hue-green)
    );
    --swatch-green-950: oklch(
        var(--lightness-950) var(--chroma-950) var(--hue-green)
    );

    --swatch-red-50: oklch(var(--lightness-50) var(--chroma-50) var(--hue-red));
    --swatch-red-100: oklch(
        var(--lightness-100) var(--chroma-100) var(--hue-red)
    );
    --swatch-red-200: oklch(
        var(--lightness-200) var(--chroma-200) var(--hue-red)
    );
    --swatch-red-300: oklch(
        var(--lightness-300) var(--chroma-300) var(--hue-red)
    );
    --swatch-red-400: oklch(
        var(--lightness-400) var(--chroma-400) var(--hue-red)
    );
    --swatch-red-500: oklch(
        var(--lightness-500) var(--chroma-500) var(--hue-red)
    );
    --swatch-red-600: oklch(
        var(--lightness-600) var(--chroma-600) var(--hue-red)
    );
    --swatch-red-700: oklch(
        var(--lightness-700) var(--chroma-700) var(--hue-red)
    );
    --swatch-red-800: oklch(
        var(--lightness-800) var(--chroma-800) var(--hue-red)
    );
    --swatch-red-900: oklch(
        var(--lightness-900) var(--chroma-900) var(--hue-red)
    );
    --swatch-red-950: oklch(
        var(--lightness-950) var(--chroma-950) var(--hue-red)
    );

    --swatch-blue-50: oklch(
        var(--lightness-50) var(--chroma-50) var(--hue-blue)
    );
    --swatch-blue-100: oklch(
        var(--lightness-100) var(--chroma-100) var(--hue-blue)
    );
    --swatch-blue-200: oklch(
        var(--lightness-200) var(--chroma-200) var(--hue-blue)
    );
    --swatch-blue-300: oklch(
        var(--lightness-300) var(--chroma-300) var(--hue-blue)
    );
    --swatch-blue-400: oklch(
        var(--lightness-400) var(--chroma-400) var(--hue-blue)
    );
    --swatch-blue-500: oklch(
        var(--lightness-500) var(--chroma-500) var(--hue-blue)
    );
    --swatch-blue-600: oklch(
        var(--lightness-600) var(--chroma-600) var(--hue-blue)
    );
    --swatch-blue-700: oklch(
        var(--lightness-700) var(--chroma-700) var(--hue-blue)
    );
    --swatch-blue-800: oklch(
        var(--lightness-800) var(--chroma-800) var(--hue-blue)
    );
    --swatch-blue-900: oklch(
        var(--lightness-900) var(--chroma-900) var(--hue-blue)
    );
    --swatch-blue-950: oklch(
        var(--lightness-950) var(--chroma-950) var(--hue-blue)
    );

    --swatch-yellow-50: oklch(
        var(--lightness-50) var(--chroma-50) var(--hue-yellow)
    );
    --swatch-yellow-100: oklch(
        var(--lightness-100) var(--chroma-100) var(--hue-yellow)
    );
    --swatch-yellow-200: oklch(
        var(--lightness-200) var(--chroma-200) var(--hue-yellow)
    );
    --swatch-yellow-300: oklch(
        var(--lightness-300) var(--chroma-300) var(--hue-yellow)
    );
    --swatch-yellow-400: oklch(
        var(--lightness-400) var(--chroma-400) var(--hue-yellow)
    );
    --swatch-yellow-500: oklch(
        var(--lightness-500) var(--chroma-500) var(--hue-yellow)
    );
    --swatch-yellow-600: oklch(
        var(--lightness-600) var(--chroma-600) var(--hue-yellow)
    );
    --swatch-yellow-700: oklch(
        var(--lightness-700) var(--chroma-700) var(--hue-yellow)
    );
    --swatch-yellow-800: oklch(
        var(--lightness-800) var(--chroma-800) var(--hue-yellow)
    );
    --swatch-yellow-900: oklch(
        var(--lightness-900) var(--chroma-900) var(--hue-yellow)
    );
    --swatch-yellow-950: oklch(
        var(--lightness-950) var(--chroma-950) var(--hue-yellow)
    );

    --swatch-black-50: oklch(var(--lightness-50) 0.005 var(--hue-black));
    --swatch-black-100: oklch(var(--lightness-100) 0.018 var(--hue-black));
    --swatch-black-200: oklch(var(--lightness-200) 0.024 var(--hue-black));
    --swatch-black-300: oklch(var(--lightness-300) 0.024 var(--hue-black));
    --swatch-black-400: oklch(var(--lightness-400) 0.024 var(--hue-black));
    --swatch-black-500: oklch(var(--lightness-500) 0.024 var(--hue-black));
    --swatch-black-600: oklch(var(--lightness-600) 0.024 var(--hue-black));
    --swatch-black-700: oklch(var(--lightness-700) 0.024 var(--hue-black));
    --swatch-black-800: oklch(var(--lightness-800) 0.024 var(--hue-black));
    --swatch-black-900: oklch(var(--lightness-900) 0.024 var(--hue-black));
    --swatch-black-950: oklch(var(--lightness-950) 0.024 var(--hue-black));

    --hue-primary: var(
        --user-hue-accent-1,
        var(--user-hue-background)
    ); /* fallback to background */
    --hue-secondary: var(--user-hue-background); /* based on hue-background */
    --hue-tertiary: var(
        --user-hue-accent-2,
        var(--user-hue-background)
    ); /* fallback to hue-background */

    /* Shadows */
    --shadow-inner: oklch(var(--color-shadow-val) / 0.12) 0px 2px 4px 0px inset;
    --shadow-sm: oklch(var(--color-shadow-val) / 0.2) 0px 1px 3px 0px,
        oklch(var(--color-shadow-val) / 0.12) 0px 1px 2px 0px;
    --shadow-md: oklch(var(--color-shadow-val) / 0.2) 0px 4px 6px -1px,
        oklch(var(--color-shadow-val) / 0.12) 0px 2px 4px -1px;
    --shadow-lg: oklch(var(--color-shadow-val) / 0.2) 0px 10px 15px -3px,
        oklch(var(--color-shadow-val) / 0.1) 0px 4px 6px -2px;
    --shadow-xl: oklch(var(--color-shadow-val) / 0.2) 0px 20px 25px -5px,
        oklch(var(--color-shadow-val) / 0.08) 0px 10px 10px -5px;
    --shadow-xxl: oklch(var(--color-shadow-val) / 0.2) 0px 20px 25px -5px,
        oklch(var(--color-shadow-val) / 0.08) 0px 10px 10px -5px;
}

.sl-theme-dark {
    --color-primary: var(--swatch-primary-400);
    --color-on-primary: var(--swatch-primary-900);
    --color-primary-container: var(--swatch-primary-800);
    --color-on-primary-container: var(--swatch-primary-200);
    --color-secondary: var(--swatch-secondary-400);
    --color-on-secondary: var(--swatch-secondary-900);
    --color-secondary-container: var(--swatch-secondary-800);
    --color-secondary-container-variant: var(--swatch-secondary-900);
    --color-on-secondary-container: var(--swatch-secondary-200);
    --color-on-secondary-container-variant: var(--swatch-secondary-400);
    --color-tertiary: var(--swatch-tertiary-400);
    --color-on-tertiary: var(--swatch-tertiary-900);
    --color-tertiary-container: var(--swatch-tertiary-800);
    --color-tertiary-container-variant: var(--swatch-tertiary-900);
    --color-on-tertiary-container: var(--swatch-tertiary-200);
    --color-on-tertiary-container-variant: var(--swatch-tertiary-400);
    --color-background: var(--swatch-background-950);
    --color-on-background: var(--swatch-background-200);
    --color-surface: oklch(
        18.7% var(--chroma-override, var(--chroma-900))
            var(--user-hue-background)
    );
    --color-on-surface: var(--swatch-background-200);
    --color-surface-variant: oklch(
        39.8% var(--chroma-override, 0.017) var(--user-hue-background)
    );
    --color-on-surface-variant: var(--swatch-background-400);
    --color-outline: oklch(
        65.7% var(--chroma-override, 0.05) var(--user-hue-background)
    );
    --color-outline-variant: oklch(
        39.8% var(--chroma-override, 0.05) var(--user-hue-background)
    );
    --color-shadow: oklch(0% 0 var(--user-hue-background));
    --color-scrim: oklch(0% 0 var(--user-hue-background));
    --color-inverse-surface: var(--swatch-background-200);
    --color-inverse-on-surface: var(--swatch-background-900);
    --color-inverse-primary: var(--swatch-primary-700);
    --color-surface-container-lowest: oklch(
        16.418% var(--chroma-override, var(--chroma-950))
            var(--user-hue-background)
    );
    --color-surface-container-low: oklch(
        23.7% var(--chroma-override, var(--chroma-950))
            var(--user-hue-background)
    );
    --color-surface-container: oklch(
        25.5% var(--chroma-override, var(--chroma-950))
            var(--user-hue-background)
    );
    --color-surface-container-high: oklch(
        28.6% var(--chroma-override, var(--chroma-950))
            var(--user-hue-background)
    );

    --color-waveform: var(--user-color-waveform);
    --color-shadow-val: var(--lightness-950) var(--chroma-950)
        var(--hue-primary);
    --color-rating: var(--swatch-yellow-500);
    --color-favorite: var(--swatch-red-600);

    --color-btn-default-text: var(--swatch-primary-400);
    --color-btn-default-text-hover: var(--swatch-primary-100);
    --color-btn-default-bg: transparent;
    --color-btn-default-bg-hover: var(--swatch-primary-800);
    --color-btn-default-border: var(--swatch-primary-700);
    --color-btn-default-border-hover: var(--swatch-primary-600);

    --color-btn-neutral-text: var(--swatch-neutral-400);
    --color-btn-neutral-text-hover: var(--swatch-neutral-100);
    --color-btn-neutral-bg: var(--color-surface);
    --color-btn-neutral-bg-hover: var(--swatch-neutral-800);
    --color-btn-neutral-border: var(--swatch-neutral-700);
    --color-btn-neutral-border-hover: var(--swatch-neutral-600);

    --color-btn-primary-text: var(--swatch-primary-300);
    --color-btn-primary-text-hover: var(--swatch-primary-50);
    --color-btn-primary-bg: var(--swatch-primary-800);
    --color-btn-primary-bg-hover: var(--swatch-primary-700);
    --color-btn-primary-border: var(--swatch-primary-600);
    --color-btn-primary-border-hover: var(--swatch-primary-500);

    --color-btn-primary-alt-text: var(--swatch-primary-300);
    --color-btn-primary-alt-text-hover: var(--swatch-primary-50);
    --color-btn-primary-alt-bg: var(--swatch-primary-900);
    --color-btn-primary-alt-bg-hover: var(--swatch-primary-700);
    --color-btn-primary-alt-border: var(--swatch-primary-700);
    --color-btn-primary-alt-border-hover: var(--swatch-primary-500);

    --color-btn-success-text: var(--swatch-green-300);
    --color-btn-success-text-hover: var(--swatch-green-50);
    --color-btn-success-bg: var(--swatch-green-800);
    --color-btn-success-bg-hover: var(--swatch-green-700);
    --color-btn-success-border: var(--swatch-green-600);
    --color-btn-success-border-hover: var(--swatch-green-500);

    --color-btn-warning-text: var(--swatch-yellow-300);
    --color-btn-warning-text-hover: var(--swatch-yellow-50);
    --color-btn-warning-bg: var(--swatch-yellow-800);
    --color-btn-warning-bg-hover: var(--swatch-yellow-700);
    --color-btn-warning-border: var(--swatch-yellow-600);
    --color-btn-warning-border-hover: var(--swatch-yellow-500);

    --color-btn-danger-text: var(--swatch-red-300);
    --color-btn-danger-text-hover: var(--swatch-red-50);
    --color-btn-danger-bg: var(--swatch-red-800);
    --color-btn-danger-bg-hover: var(--swatch-red-700);
    --color-btn-danger-border: var(--swatch-red-600);
    --color-btn-danger-border-hover: var(--swatch-red-500);
}

.sl-theme-light {
    --color-primary: var(--swatch-primary-700);
    --color-on-primary: var(--swatch-primary-50);
    --color-primary-container: var(--swatch-primary-200);
    --color-on-primary-container: var(--swatch-primary-900);
    --color-secondary: var(--swatch-secondary-700);
    --color-on-secondary: var(--swatch-secondary-50);
    --color-secondary-container: var(--swatch-secondary-200);
    --color-secondary-container-variant: var(--swatch-secondary-200);
    --color-on-secondary-container: var(--swatch-secondary-900);
    --color-on-secondary-container-variant: var(--swatch-secondary-800);
    --color-tertiary: var(--swatch-tertiary-700);
    --color-on-tertiary: var(--swatch-tertiary-50);
    --color-tertiary-container: var(--swatch-tertiary-200);
    --color-tertiary-container-variant: var(--swatch-tertiary-200);
    --color-on-tertiary-container: var(--swatch-tertiary-900);
    --color-on-tertiary-container-variant: var(--swatch-tertiary-800);
    --color-background: oklch(
        98.4% var(--chroma-override, 0.013) var(--user-hue-background)
    );
    --color-on-background: oklch(
        22.7% var(--chroma-override, 0.01) var(--user-hue-background)
    );
    --color-surface: oklch(
        98.4% var(--chrome-override, 0.013) var(--user-hue-background)
    );
    --color-on-surface: oklch(
        22.7% var(--chroma-override, 0.01) var(--user-hue-background)
    );
    --color-surface-variant: oklch(
        91.6% var(--chroma-override, 0.018) var(--user-hue-background)
    );
    --color-on-surface-variant: oklch(
        39.8% var(--chroma-override, 0.017) var(--user-hue-background)
    );
    --color-outline: oklch(
        56.7% var(--chroma-override, 0.016) var(--user-hue-background)
    );
    --color-outline-variant: oklch(
        82.9% var(--chroma-override, 0.018) var(--user-hue-background)
    );
    --color-shadow: oklch(0% 0 var(--user-hue-background));
    --color-scrim: oklch(0% 0 var(--user-hue-background));
    --color-inverse-surface: oklch(
        31.1% var(--chroma-override, 0.011) var(--user-hue-background)
    );
    --color-inverse-on-surface: oklch(
        95.9% var(--chroma-override, 0.012) var(--user-hue-background)
    );
    --color-inverse-primary: oklch(
        83.5% var(--chroma-override, 0.095) var(--hue-primary)
    );
    --color-surface-container-lowest: oklch(
        100% var(--chroma-override, var(--chroma-100))
            var(--user-hue-background)
    );
    --color-surface-container-low: oklch(
        96.7% var(--chroma-override, var(--chroma-100))
            var(--user-hue-background)
    );
    --color-surface-container: oklch(
        95.4% var(--chroma-override, var(--chroma-100))
            var(--user-hue-background)
    );
    --color-surface-container-high: oklch(
        93.3% var(--chroma-override, var(--chroma-100))
            var(--user-hue-background)
    );

    --color-waveform: var(--user-color-waveform);
    --color-shadow-val: var(--lightness-600) var(--chroma-200)
        var(--hue-primary);
    --color-rating: var(--swatch-yellow-600);
    --color-favorite: var(--swatch-red-600);

    --color-btn-default-text: var(--swatch-primary-700);
    --color-btn-default-text-hover: var(--swatch-primary-900);
    --color-btn-default-bg: transparent;
    --color-btn-default-bg-hover: var(--swatch-primary-200);
    --color-btn-default-border: var(--swatch-primary-500);
    --color-btn-default-border-hover: var(--swatch-primary-600);

    --color-btn-neutral-text: var(--swatch-neutral-700);
    --color-btn-neutral-text-hover: var(--swatch-neutral-900);
    --color-btn-neutral-bg: var(--color-surface);
    --color-btn-neutral-bg-hover: var(--swatch-neutral-200);
    --color-btn-neutral-border: var(--swatch-neutral-500);
    --color-btn-neutral-border-hover: var(--swatch-neutral-600);

    --color-btn-primary-text: var(--swatch-primary-800);
    --color-btn-primary-text-hover: var(--swatch-primary-50);
    --color-btn-primary-bg: var(--swatch-primary-200);
    --color-btn-primary-bg-hover: var(--swatch-primary-500);
    --color-btn-primary-border: var(--swatch-primary-500);
    --color-btn-primary-border-hover: var(--swatch-primary-500);

    --color-btn-primary-alt-text: var(--swatch-primary-800);
    --color-btn-primary-alt-text-hover: var(--swatch-primary-50);
    --color-btn-primary-alt-bg: var(--swatch-primary-300);
    --color-btn-primary-alt-bg-hover: var(--swatch-primary-500);
    --color-btn-primary-alt-border: var(--swatch-primary-500);
    --color-btn-primary-alt-border-hover: var(--swatch-primary-500);

    --color-btn-success-text: var(--swatch-green-800);
    --color-btn-success-text-hover: var(--swatch-green-50);
    --color-btn-success-bg: var(--swatch-green-200);
    --color-btn-success-bg-hover: var(--swatch-green-500);
    --color-btn-success-border: var(--swatch-green-500);
    --color-btn-success-border-hover: var(--swatch-green-500);

    --color-btn-warning-text: var(--swatch-yellow-800);
    --color-btn-warning-text-hover: var(--swatch-yellow-50);
    --color-btn-warning-bg: var(--swatch-yellow-200);
    --color-btn-warning-bg-hover: var(--swatch-yellow-500);
    --color-btn-warning-border: var(--swatch-yellow-500);
    --color-btn-warning-border-hover: var(--swatch-yellow-500);

    --color-btn-danger-text: var(--swatch-red-800);
    --color-btn-danger-text-hover: var(--swatch-red-50);
    --color-btn-danger-bg: var(--swatch-red-200);
    --color-btn-danger-bg-hover: var(--swatch-red-600);
    --color-btn-danger-border: var(--swatch-red-500);
    --color-btn-danger-border-hover: var(--swatch-red-600);
}

/* --------------------------
   Override Shoelace tokens
   -------------------------- */
:root {
    --sl-color-primary-700: var(--swatch-primary-600);
    --sl-color-primary-600: var(--swatch-primary-500);
}

/* --------------------------
   General style rules
   -------------------------- */

* {
    box-sizing: border-box;
    font-variation-settings:
        "GRAD" var(--roboto-grad),
        "opsz" var(--roboto-opsz);
}

html,
body,
#app {
    position: relative;
    overflow: clip; /* clip instead of hidden, fixes queue slide in bug */
    width: 100vw;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100vh;
}

/* Fix for Shoelace 2.13.0+, would reset with overflow hidden */
body.sl-scroll-lock.sl-scroll-lock.sl-scroll-lock {
    overflow: clip;
}

html {
    font-family: var(--font-body);
    font-size: 13px;
    line-height: 1.4;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    fill: currentColor;
}

a {
    outline: 0;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        color: var(--color-primary);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0;
    font-family: var(--font-heading);
    font-weight: unset;
    color: var(--color-tertiary);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* W3C spec */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-outline) var(--color-outline-variant);
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-outline-variant);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-outline);
}

::selection {
    background: var(--color-primary);
    color: var(--color-background);
}

/*
 * Loading overlay
 */
#loading-overlay {
    background-color: var(--color-background);
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 10000;
    transition: opacity 0.3s ease-out;
    justify-content: center;
    align-items: center;
}

#loading-overlay.hiding {
    opacity: 0;
    pointer-events: none;
}

#loading-overlay.hidden {
    display: none;
    pointer-events: none;
}

/* --------------------------
   Form / inputs
   -------------------------- */

sl-select small {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 90%;
}

/* --------------------------
   Buttons / badges / tooltips
   -------------------------- */

::-moz-focus-inner {
    outline: 0;
}

.current-icon {
    display: inline-block;
    flex-shrink: 0;
    margin-inline-end: var(--spacing-sm);
    line-height: 1;
    vertical-align: middle;
}

/*
Variants
*/
sl-button::part(base) {
    background-color: var(--color-btn-default-bg);
    border-color: var(--color-btn-default-border);
    color: var(--color-btn-default-text);
    position: relative;
    overflow: hidden;
}

@supports (mix-blend-mode: multiply) {
    sl-button:not([variant="text"])::part(base)::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
            to bottom,
            transparent 30%,
            currentColor 100%
        );
        z-index: 1;
        pointer-events: none;
        mix-blend-mode: multiply;
        opacity: 0.1;
    }
}

sl-button::part(base):not(:disabled):hover {
    background-color: var(--color-btn-default-bg-hover);
    border-color: var(--color-btn-default-border-hover);
    color: var(--color-btn-default-text-hover);
}

sl-button[variant="text"]::part(base) {
    background-color: transparent;
    border-color: transparent;
}

sl-button[variant="text"]::part(base):not(:disabled):hover {
    background-color: transparent;
    border-color: transparent;
}

sl-button[variant="neutral"]::part(base) {
    background-color: var(--color-btn-neutral-bg);
    border-color: var(--color-btn-neutral-border);
    color: var(--color-btn-neutral-text);
}

sl-card sl-button[variant="neutral"]::part(base) {
    background-color: transparent;
}

sl-button[variant="neutral"]::part(base):not(:disabled):hover {
    background-color: var(--color-btn-neutral-bg-hover);
    border-color: var(--color-btn-neutral-border-hover);
    color: var(--color-btn-neutral-text-hover);
}

sl-button[variant="primary"]::part(base) {
    background-color: var(--color-btn-primary-bg);
    border-color: var(--color-btn-primary-border);
    color: var(--color-btn-primary-text);
}

sl-button[variant="primary"]::part(base):not(:disabled):hover {
    background-color: var(--color-btn-primary-bg-hover);
    border-color: var(--color-btn-primary-border-hover);
    color: var(--color-btn-primary-text-hover);
}

sl-button[variant="primary-alt"]::part(base) {
    background-color: var(--color-btn-primary-alt-bg);
    border-color: var(--color-btn-primary-alt-border);
    color: var(--color-btn-primary-alt-text);
}

sl-button[variant="primary-alt"]::part(base):not(:disabled):hover {
    background-color: var(--color-btn-primary-alt-bg-hover);
    border-color: var(--color-btn-primary-alt-border-hover);
    color: var(--color-btn-primary-alt-text-hover);
}

sl-button[variant="success"]::part(base) {
    background-color: var(--color-btn-success-bg);
    border-color: var(--color-btn-success-border);
    color: var(--color-btn-success-text);
}

sl-button[variant="success"]::part(base):not(:disabled):hover {
    background-color: var(--color-btn-success-bg-hover);
    border-color: var(--color-btn-success-border-hover);
    color: var(--color-btn-success-text-hover);
}

sl-button[variant="warning"]::part(base) {
    background-color: var(--color-btn-warning-bg);
    border-color: var(--color-btn-warning-border);
    color: var(--color-btn-warning-text);
}

sl-button[variant="warning"]::part(base):not(:disabled):hover {
    background-color: var(--color-btn-warning-bg-hover);
    border-color: var(--color-btn-warning-border-hover);
    color: var(--color-btn-warning-text-hover);
}

sl-button[variant="danger"]::part(base) {
    background-color: var(--color-btn-danger-bg);
    border-color: var(--color-btn-danger-border);
    color: var(--color-btn-danger-text);
}

sl-button[variant="danger"]::part(base):not(:disabled):hover {
    background-color: var(--color-btn-danger-bg-hover);
    border-color: var(--color-btn-danger-border-hover);
    color: var(--color-btn-danger-text-hover);
}

sl-button::part(base):not(:disabled):active {
    opacity: 0.8;
}

/*
Sizes
*/
sl-button::part(base) {
    font-size: 13px;
}

sl-button[size="small"]::part(base) {
    font-size: 11px;
}

sl-button[size="large"]::part(base) {
    font-size: 14px;
}

/* badges */
.badge {
    display: inline-flex;
    border-radius: 2px;
    padding: 0.2em 0.4em;
}

.badge--success {
    background-color: var(--swatch-green-500);
    color: var(--swatch-green-100);
}

.badge--info {
    background-color: var(--swatch-blue-55);
    color: var(--swatch-blue-100);
}

.badge--warning {
    background-color: var(--swatch-yellow-500);
    color: var(--swatch-yellow-100);
}

.badge--danger {
    background-color: var(--swatch-red-500);
    color: var(--swatch-red-100);
}

/* --------------------------
   SVG
   -------------------------- */

/* --------------------------
   Shared
   -------------------------- */

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.secondary-info {
    color: var(--color-on-surface-variant);
}

.page-header {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    margin-block-end: var(--spacing-xl);
}

.title {
    --roboto-grad: 150;
    --roboto-opsz: 12;
    font-weight: 500;
}

.page-title {
    --roboto-opsz: 25;
    font-weight: 300;
    font-size: 20px;
}

strong {
    font-weight: 700;
}

.help-text {
    margin-block-start: var(--spacing-sm);
}

.meta-container {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacing-xl);
    row-gap: var(--spacing-lg);
    flex-wrap: wrap;
}

.meta-entry {
    display: flex;
    flex-direction: column;
}

.meta-field {
    color: var(--color-on-surface-variant);
    flex-shrink: 0;
}

.meta-value {
    font-size: 1.2em;
    font-weight: 500;
}

/*
 * Drawers
 */

sl-drawer::part(base) {
    overflow: clip !important; /* needed as of Shoelace 2.13.0 to fix drawer jank */
}

sl-drawer::part(panel) {
    background-color: var(--color-surface-container);
}

sl-drawer::part(body) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    background-color: var(--color-background);
    border-radius: 15px;
    margin-inline: 10px;
}

/*
 * Tabs
 */

sl-tab::part(base) {
    font-size: inherit;
    color: var(--color-on-surface-variant);
}

sl-tab[active]::part(base) {
    color: var(--color-primary);
}

sl-tab-group::part(active-tab-indicator) {
    --indicator-color: var(--color-primary);
}

/* override display: none behavior to prevent Tabulator from rerendering */
sl-tab-panel[aria-hidden="true"] {
    display: block !important;
}

@supports (content-visibility: hidden) {
    sl-tab-panel[aria-hidden="true"] {
        content-visibility: hidden;
    }
}

@supports not (content-visibility: hidden) {
    sl-tab-panel[aria-hidden="true"] {
        height: 0 !important;
        overflow: hidden;
        visibility: hidden;
    }
}

/*
 * NoUiSlider
 */
#app .noUi-target {
    background-color: var(--color-outline-variant);
    border-color: transparent;
    box-shadow: none;
    border-radius: 3px;
}

#app .noUi-handle {
    background-color: var(--color-primary);
    box-shadow: none;
    border-color: transparent;
}

#app .noUi-handle:before,
#app .noUi-handle:after {
    background-color: var(--color-on-primary);
}

#app .noUi-connect {
    background-color: var(--color-tertiary-container);
}

#app .noUi-tooltip {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
    border: 0;
    line-height: 1;
}

/*
 * Tabulator
 */
#app .tabulator {
    border: 0;
    background-color: var(--color-background);
}

#app .tabulator-table {
    background-color: var(--color-background);
}

#app .tabulator-col-resize-handle:hover {
    background-color: var(--color-outline-variant);
}

#app .tabulator-row {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    border-bottom: 1px solid var(--color-outline-variant);
}

#app .tabulator-header {
    border-bottom: 2px solid var(--color-outline-variant);
}

#app .tabulator-header .tabulator-col {
    border: 0;
}

#app .tabulator-header,
#app .tabulator-header .tabulator-col {
    background-color: var(--color-background);
    color: var(--color-on-surface);
}

#app .tabulator-cell {
    border: 0;
}

#app .tabulator-selectable:hover {
    cursor: unset;
}

#app .tabulator-row [tabulator-field="actions"] {
    min-height: 36px;
}

#app .tabulator-footer {
    background-color: var(--color-surface-container);
    color: var(--color-on-surface);
    border: 0;
}

#app .tabulator-page {
    background-color: unset;
    border: 0;
}

#app .tabulator-page.active {
    color: var(--color-primary);
}

#app .tabulator-paginator {
    color: var(--color-on-surface);
}

#app .tabulator-col-title-holder {
    display: flex;
}

/* swap icon and title if right aligned */
#app .tabulator-col-title-holder:has(.tabulator-col-title[style*="right"]) {
    flex-direction: row-reverse;
}

#app .tabulator-col-title[style*="right"] {
    padding-right: 0 !important;
}

#app .tabulator-col-sorter {
    position: relative;
    color: inherit;
    transform: scale(0.8);
}

#app .tabulator-sortable[aria-sort="none"] .tabulator-col-sorter {
    opacity: 0.5;
}

#app .tabulator-col-title:not([style*="center"]) {
    width: unset;
    padding-right: 10px;
}

/* simulate text-align: right since we break it */
#app .tabulator-col-title-holder:has(.tabulator-col-title[style*="right"]) {
    justify-content: end;
}
